:root{
    --green: #016341;
    --white: #fff;
    --headerHeight: 70px;
    --textColor: #000;
    --descriptionFont: System-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: var(--headerHeight);
    position: fixed;
    border-top: 10px solid var(--green);
    border-bottom: 1px solid var(--green);
    transition: 1s;
}

#navBar {
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    transition: 0.5s;
}

header.hide {
    transform: translate(0%, -100%);
}

#logo{
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

#menuButtons {
    display: flex;
    justify-content: space-between;
    width: max-content;
    align-items: center;
}

#menuButtons li {
    list-style: none;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuButtons li:nth-child(4) {
    width: 300px;
}

#navBar input {
    width: 80%;
    height: 20px;
    border-color: var(--green);
    border-radius: 5px;
}

.searchButton {
    margin-left: 10px;
    width: 20%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 100;
    background-color: #ddd;
}

#menuButtons a {
    text-decoration: none;
    color: #000;
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

#slider {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#slide {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 2s;
}

#slide .item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#slideNav {
    width: 100%;
    height: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    filter: blur(0.5px);
    transition: 2s;
}

.dot.active {
    background-color: var(--green);
    /* filter: none; */
}

footer {
    width: 100%; 
    height: 100vh;
    position: relative;
    z-index: -1;
}

footer div {
    width: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div:nth-child(1) {
    height: 10%;
    
}

footer h1 {
    font-family: var(--descriptionFont);
    padding: 50px 0px 10px 0px;
    border-bottom: 2px solid #000;
}

footer div:nth-child(2) {
    height: 50%;
    padding: 100px 0;
}

footer div:nth-child(3) {
    height: 40%;
    padding-bottom: 100px
}

footer div div {
    width: 80%;
    height: 100%;
    margin: 0px 80px;
}

footer div div div{
    width: 50%;
    height: 100%;
    font-family: var(--descriptionFont);
}

footer div div img{
    border: 10px solid #ddd;
}

footer div div img:nth-child(1){
    transform:rotateZ(-3deg);
}

footer div div img:nth-child(2){
    transform:rotateZ(3deg);
}